/* selector {
    property: value
} */

* {
    border: 1px solid red;
}


a {
    text-decoration: none;
    color: dodgerblue;
}

#pink {
    color: pink;
}

.parent-div {
    display: flex;
}

.footer {
    background-color: gray;
    color:aliceblue;
    font-size: 18px;
}